#m2-module{}
#m2-module .details{width: 100%;overflow: hidden;background: #1c5396;}
#m2-module .details_center{margin: 36px auto 27px auto;width: 1100px;height: 1813px;background: #f3f3f3;}
#m2-module .datails_left{float: left;width: 815px;height: 1813px;}
#m2-module .datails_right{float: left;width: 285px;height: 1813px;background: #ffffff;}
#m2-module .datailsTop_bar{margin:35px 0px;padding-left: 25px;height: 20px;font-size: 15px;color: #a4a4a4;line-height: 20px;font-family: 'simsun';}
#m2-module .datailsTop_bar span{font-family: '微软雅黑';}
#m2-module .datailsTit_bar{margin:0px 0px 22px 36px;width: 738px;height: 43px;}
#m2-module .detailTit_name{float: left;height: 43px;display: block;font-size: 20px;color: #000000;line-height: 43px;}
#m2-module .detail_apply{+margin-top:-43px;float: right;width: 303px;height: 43px;display: block;background: url("../../../img/default/detail_apply.png") no-repeat;}
#m2-module .detail_box{margin: 0px 0px 14px 36px;width: 698px;border: 1px #e2e2e2 solid;background: #fff;overflow: hidden;padding: 19px 20px;}
#m2-module .detail_box h2{font-size: 18px;color: #3e3e3e;font-weight: 100;}
#m2-module .detail_box h5{font-size: 13px;color: #808080;line-height: 25px;}
#m2-module .detail_box h5 span{margin-right: 18px;}
#m2-module .detail_box p{margin-top:5px;font-size: 14px;color: #c5c5c5;line-height: 25px;}
#m2-module .detail_box p a,#m2-module .detail_box p a:hover,#m2-module .detail_box p:active{color: #c5c5c5;}
#m2-module .link_title{margin: 96px 0px 30px 0px;font-size: 20px;color: #000000;text-align: center;}
#m2-module .link_teb{margin: 0px auto 24px auto;width: 180px;height: 40px;display: block;background: #f3f3f3;border: 1px #e2e2e2 solid;font-size: 16px;color: #a4a4a4;line-height: 40px;text-align: center;}
#m2-module .link_teb:hover{color:#FF0000;}
#m2-module .page_box{margin-top: 30px;height: 40px;text-align: center;}
#m2-module .page_box .page{margin: 0px 2px;width: 33px;height: 33px;display: inline-block;font-size: 18px;color: #282828;text-align: center;line-height: 35px;border: 1px #e2e2e2 solid;}
#m2-module .page_box .page.cur{background: #fff;}
#m2-module .page_box .pageNum{position: relative;top:-1px;+top:6px;width: 33px;height: 33px;display: inline-block;font-size: 18px;color: #282828;text-align: center;line-height: 35px;border: 1px #e2e2e2 solid;background: #fff;}
#m2-module .page_box .page_f{margin: 0px 5px;height: 33px;display: inline-block;font-size: 18px;color: #282828;line-height: 35px;}

/*pagination*/
.pagination .next,.pagination .prev{display: none!important;}
.pagination a,.pagination .current{margin: 0px 2px;width: 33px;height: 33px;display: inline-block;font-size: 18px;color: #282828;text-align: center;line-height: 35px;border: 1px #e2e2e2 solid;}
.pagination .current{background: #fff;}






