#nav-left-module{}
#nav-left-module .target{background: #f3f3f3;}
#nav-left-module li a{color: #8f8f8f;font-size: 14px;}
#nav-left-module li a:hover{color: #FF0000;}
#nav-left-module h1{font-size: 18px;padding: 10px 0 10px 30px;cursor: pointer;border-top: 1px solid #f3f3f3;border-bottom: 1px solid #f3f3f3;margin: 10px 0;color: #8f8f8f}
#nav-left-module h1:first-child{margin-top: 0;}
#nav-left-module h1 img{margin-left: 15px;width: 10px;position: relative;top: 2px;}
#nav-left-module h2{font-size: 16px;padding: 10px 0 10px 30px;}
#nav-left-module li{padding-left: 30px;line-height: 2.2em;}
.nav-left{float: left;width: 200px;height:350px;background: #FFFFFF;}
.nav-right{float: left;width: 200px;height:350px;background: #f3f3f3;}
