#supply-module{}
#supply-module .main-font{font-family: "Microsoft Yahei", Arial helvetica, sans-serif;font-weight: 100;}
#supply-module .font-b{font-weight: 600;}
#supply-module .pull-left{float:left}
#supply-module .list-btn{width:200px;height:50px;}
#supply-module .list-btn-font{color:#ffffff;font-size: 15px;line-height: 50px;}
#supply-module .clear{clear: both;}

/*广告轮播样式*/
#supply-module .ad-slider{width:100%;height:500px;background-color:#1c5396;}

/*jssorslider*/
#supply-module .information-box{
    background-color: #ffffff;width:1100px;height:530px;
    margin: 0 20px 20px 0;
    float: left;
}
#supply-module .jssorb01 {
    position: absolute;
}
#supply-module.jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
    position: absolute;
    /* size of bullet elment */
    width: 12px;
    height: 12px;
    filter: alpha(opacity=70);
    opacity: .7;
    overflow: hidden;
    cursor: pointer;
    border: #000 1px solid;
    border-radius: 50%;
}
#supply-module .jssorb01 div { background-color: gray; }
#supply-module .jssorb01 div:hover, .jssorb01 .av:hover { background-color: #d3d3d3; }
#supply-module .jssorb01 .av { background-color: #fff; }
#supply-module .jssorb01 .dn, .jssorb01 .dn:hover { background-color: #555555; }

#supply-module .jssora05l, #home-module .jssora05r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: url(../../lib/slider/a17.png) no-repeat;
    overflow: hidden;
}
#supply-module .jssora05l { background-position: -10px -40px; }
#supply-module .jssora05r { background-position: -70px -40px; }
#supply-module .jssora05l:hover { background-position: -130px -40px; }
#supply-module .jssora05r:hover { background-position: -190px -40px; }
#supply-module .jssora05l.jssora05ldn { background-position: -250px -40px; }
#supply-module .jssora05r.jssora05rdn { background-position: -310px -40px; }


/*供应链金融块样式*/
#supply-module .supply-module-b{width:100%;height:1734px;background-color: #f0f0f0;padding-top: 40px;}
#supply-module .supply-title-img{background: url("../../img/default/supply-module1.png") no-repeat;width:200px;height:60px;margin:0px auto 20px auto;}
#supply-module .supply-content-img{background:url("../../img/default/supply-module3.png") no-repeat center;width:1100px;height:103px;margin:auto;padding-bottom: 25px;}
#supply-module .supply-smallimg-gao{background: url("../../img/default/small-gao.png") no-repeat center;width:275px;height:103px;position: relative;}
#supply-module .supply-smallimg-kuai{background: url("../../img/default/small-kuai.png") no-repeat center;width:275px;height:103px;position: relative;z-index:1}
#supply-module .supply-smallimg-di{background: url("../../img/default/small-di2.png") no-repeat center;width:275px;height:103px;position: relative;}
#supply-module .supply-smallimg-sheng{background: url("../../img/default/small-sheng.png") no-repeat center;width:275px;height:103px;position: relative;z-index:1}

#supply-module .supply-content-box{background-color: #ffffff;width:100%;height:482px;margin-bottom:20px;}
#supply-module .supply-box-detail{height:250px;padding-top: 10px;padding-left: 10px;}
#supply-module .box-k{padding:20px;width:505px;}
#supply-module .box-intro{font-size: 14px;color: #8f8f8f;line-height: 25px;}
#supply-module .box-intro .font-b{color: #000000;}
#supply-module .box-detail-btn{width:150px;height:40px;border:1px solid #e2e2e2;margin-top: 10px;margin-left: 273px;}
#supply-module .box-detail-btn a{line-height: 40px;font-size: 16px;color: #000000;padding-left:40px; }
#supply-module .box-detail-btn a:hover{color:#FF0000;}

#supply-module .supply-box-image1{background: url("../../img/default/supply-box-image1.png") no-repeat;width: 827px;height: 193px;margin: auto;}
#supply-module .supply-box-image2{background: url("../../img/default/supply-box-image2.png") no-repeat;width: 827px;height: 193px;margin: auto;}
#supply-module .supply-box-image3{background: url("../../img/default/supply-box-image3.png") no-repeat;width: 827px;height: 193px;margin: auto;}
#supply-module .receive-title{font-size: 30px;color: #71c9e4;margin-bottom: 10px;}
#supply-module .receivepool-title{font-size: 30px;color: #92e4ff;margin-bottom: 10px;}
#supply-module .factor-title{font-size: 30px;color: #5975bb;margin-bottom: 10px;}
#supply-module .factorpool-title{font-size: 30px;color: #829ee0;margin-bottom: 10px;}
#supply-module .order-title{font-size: 30px;color: #c8a84e;margin-bottom: 10px;}
#supply-module .rent-title{font-size: 30px;color: #c8aa4c;margin-bottom: 10px;}

