#home-module{}
#home-module .main-font{font-family: "Microsoft Yahei", Arial helvetica, sans-serif;font-weight: 100;}
#home-module .font-b{font-weight: 600;}
#home-module .pull-left{float:left}
#home-module .btn-move{width:260px;height:70px;}
#home-module .btn-move2{width:240px;height:70px;}
#home-module .list-btn-t{width:200px;height:50px;margin-top: 20px;}
#home-module .list-btn-b{width:200px;height:50px;}
#home-module .list-btn-font{color:#ffffff;font-size: 15px;line-height: 50px;}
#home-module .clear{clear: both;}

/*lable样式*/
#home-module .lable{width:200px;height:310px;background-color: #ffffff;position:relative;z-index: 2;}
#home-module .lable2{width:200px;height:245px;background-color: #ffffff;position:relative;z-index: 2;}
#home-module .lable-title{margin:20px 20px 15px 20px;}
#home-module .lable-title span{font-size: 20px;}
#home-module .lable-supply-brief{padding-top:20px;}
#home-module .lable-sale-brief{padding-top:20px;}
#home-module .lable-brief{margin:10px 40px;border:1px solid #ffffff;padding:4px;text-align: center;color: #ffffff;}
#home-module .lable-brief span{font-size: 15px;}
#home-module .lable-intro{margin:15px 10px 0px 20px;color: #ffffff;}
#home-module .lable-intro span{font-size: 12px;}
#home-module .lable-intro-b{margin:15px 10px 0px 20px;color: #ffffff;}
#home-module .lable-intro-b span{font-size: 15px;}
#home-module .lable-detail-btn{width:150px;height:35px;margin:auto;background-color:#f6f6f6;margin-top: 10px;text-align: center;}
#home-module .lable-detail-btn a{color:#000000;font-size: 16px;line-height: 35px;}
#home-module .lable-hide{display: none;}
#home-module .lable-show{display: block;z-index: 9;}

/*广告轮播样式*/
#home-module .ad-slider{width:100%;height:500px;background-color:#1c5396;}
#home-module #scrollPics{height: 530px;width:1100px;overflow: hidden;position:relative;}
#home-module .slider{width:3300px;position:relative;height:530px;margin:0;padding:0;}
#home-module .slider li{display:inline;float:left;width:1100px;height:530px;}

/*jssorslider*/
#home-module .information-box{
    background-color: #ffffff;width:1100px;height:530px;
    margin: 0 20px 20px 0;
    float: left;
}
#home-module .jssorb01 {
    position: absolute;
}
#home-module.jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
    position: absolute;
    /* size of bullet elment */
    width: 12px;
    height: 12px;
    filter: alpha(opacity=70);
    opacity: .7;
    overflow: hidden;
    cursor: pointer;
    border: #000 1px solid;
    border-radius: 50%;
}
#home-module .jssorb01 div { background-color: gray; }
#home-module .jssorb01 div:hover, .jssorb01 .av:hover { background-color: #d3d3d3; }
#home-module .jssorb01 .av { background-color: #fff; }
#home-module .jssorb01 .dn, .jssorb01 .dn:hover { background-color: #555555; }

#home-module.jssora05l, #home-module .jssora05r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: url(../../lib/slider/a17.png) no-repeat;
    overflow: hidden;
}
#home-module .jssora05l { background-position: -10px -40px; }
#home-module .jssora05r { background-position: -70px -40px; }
#home-module .jssora05l:hover { background-position: -130px -40px; }
#home-module .jssora05r:hover { background-position: -190px -40px; }
#home-module .jssora05l.jssora05ldn { background-position: -250px -40px; }
#home-module .jssora05r.jssora05rdn { background-position: -310px -40px; }

/*供应链金融块样式*/
#home-module .supply-module{width:100%;height:650px;}
#home-module .supply-title-img{background: url("../../img/default/supply-module1.png") no-repeat;width:200px;height:60px;margin:40px auto 20px auto;}
#home-module .supply-content-img{background: url("../../img/default/supply-module2.png") no-repeat center;width:1100px;height:201px;margin:auto;}
#home-module .supply-img-gao{background: url("../../img/default/animate-gao.png") no-repeat center;width:275px;height:201px;position: relative;}
#home-module .supply-img-kuai{background: url("../../img/default/animate-kuai.png") no-repeat center;width:275px;height:201px;position: relative;z-index:1;}
#home-module .supply-img-di{background: url("../../img/default/animate-di.png") no-repeat center;width:275px;height:201px;position: relative;}
#home-module .supply-img-sheng{background: url("../../img/default/animate-sheng.png") no-repeat center;width:275px;height:201px;position: relative;z-index:1;}
#home-module .supply-descript-title{margin:10px auto;}
#home-module .supply-descript-title span{font-size:35px;padding-left: 416px;color:#b9b9bb;}
#home-module .supply-descript-content{margin:auto;}
#home-module .supply-descript-content span{font-size: 15px;padding-left:190px;color:#bdbdbd;}
#home-module .supply-btn{width:120px;height:35px;margin:10px auto;background-color:#2b5394;border-radius:20px; }
#home-module .supply-btn a{color:#ffffff;font-size: 15px;line-height: 35px;padding-left: 30px;}
#home-module .supply-detail-list1{margin:30px 0px 0px 130px;}
#home-module .btn-receive{background-color: #70c8e6; cursor: pointer;}
#home-module .btn-receive a{padding-left: 40px;}
#home-module .btn-factor{background-color: #96b3f0;cursor: pointer;}
#home-module .btn-factor a{padding-left:70px;}
#home-module .btn-order{background-color: #d8bb66;cursor: pointer;}
#home-module .btn-order a{padding-left:75px;}
#home-module .supply-detail-list2{margin-left:230px;}
#home-module .btn-receivepool{background-color: #92e5ff;cursor: pointer;}
#home-module .btn-receivepool a{padding-left:35px;}
#home-module .btn-factorpool{background-color: #c2d5ff;cursor: pointer;}
#home-module .btn-factorpool a{padding-left:65px;}
#home-module .btn-rent{background-color: #e9d18c;cursor: pointer;}
#home-module .btn-rent a{padding-left:65px;}

/*销售链金融块样式*/
#home-module .sale-module{width:100%;height:650px;background-color: #f6f6f8;}
#home-module .sale-title-img{background: url("../../img/default/sale-module1.png") no-repeat;width:200px;height:60px;margin:40px auto 20px auto;}
#home-module .sale-content-img{background: url("../../img/default/sale-module2.png") no-repeat center;width:1100px;height:201px;margin:auto;}
#home-module .sale-img-gao{background: url("../../img/default/animate-gao.png") no-repeat center;width:275px;height:201px;position: relative;}
#home-module .sale-img-kuai{background: url("../../img/default/animate-kuai.png") no-repeat center;width:275px;height:201px;position: relative;z-index:1}
#home-module .sale-img-quan{background: url("../../img/default/animate-quan.png") no-repeat center;width:275px;height:201px;position: relative;}
#home-module .sale-img-di{background: url("../../img/default/animate-di.png") no-repeat center;width:275px;height:201px;position: relative;z-index:1}
#home-module .sale-descript-title{margin:10px auto;}
#home-module .sale-descript-title span{font-size:35px;padding-left: 416px;color:#b9b9bb;}
#home-module .sale-descript-content{margin:auto;}
#home-module .sale-descript-content span{font-size: 15px;padding-left:390px;color:#b9b9bb;}
#home-module .sale-btn{width:120px;height:35px;margin:10px auto;background-color:#2b5394;border-radius:20px; }
#home-module .sale-btn a{color:#ffffff;font-size: 15px;line-height: 35px;padding-left: 30px;}
#home-module .sale-detail-list1{margin:30px 0px 0px 50px;}
#home-module .btn-credit-loan{background-color: #70c8e6;cursor: pointer;}
#home-module .btn-credit-loan a{padding-left: 43px;}
#home-module .btn-fourconfirm-loan{background-color: #96b3f0;cursor: pointer;}
#home-module .btn-fourconfirm-loan a{padding-left: 26px;}
#home-module .btn-bill-loan{background-color: #d8bb66;cursor: pointer;}
#home-module .btn-bill-loan a{padding-left: 33px;}
#home-module .btn-risk-loan{background-color: #64c9bb;cursor: pointer;}
#home-module .btn-risk-loan a{padding-left: 34px;}
#home-module .sale-detail-list2{margin-left:130px;}
#home-module .btn-receive-sale{background-color:#92e5ff;cursor: pointer;}
#home-module .btn-receive-sale a{padding-left: 34px;}
#home-module .btn-threeconfirm-loan{background-color: #c2d5ff;cursor: pointer;}
#home-module .btn-threeconfirm-loan a{padding-left: 26px;}
#home-module .btn-cooperate-loan{background-color:#e9d18c;cursor: pointer;}
#home-module .btn-cooperate-loan a{padding-left: 33px;}
#home-module .btn-stock-pledge{background-color: #8ee4dc;cursor: pointer;}
#home-module .btn-stock-pledge a{padding-left: 40px;}

/*员工金融块样式*/
#home-module .staff-module{width:100%;height:790px;background-color:#ffffff; }
#home-module .staff-title-img{background: url("../../img/default/staff-module1.png") no-repeat center;width:200px;height:60px;margin-top:40px;margin-left: auto;margin-right: auto;cursor: pointer;}
#home-module .staff-title{text-align: center;}
#home-module .staff-title span{font-size: 55px;color:#546eaa;}
#home-module .staff-content1 span{color:#546eaa;font-size: 20px;padding-left: 200px;padding-left: 406px;}
#home-module .staff-content2{margin-top: 20px;}
#home-module .staff-content2 span{color: #a4a4a4;font-size: 15px;padding-left: 287px;}
#home-module .staff-content3{margin-bottom: 20px;}
#home-module .staff-content3 span{color:#a4a4a4;font-size: 15px;padding-left: 333px;}
#home-module .sidebar-tab{background-color: #ffffff;width:1100px;height:463px;margin: auto;}
#home-module .tab-title-s{background-color:#f1f1f1;width:274px;height:55px;cursor: pointer;border-bottom:1px solid #e3e3e3;text-align: center;}
#home-module .tab-title-s a{font-size: 23px;line-height: 55px;}
#home-module .tab-title-selected a{font-size: 23px;line-height: 55px;}
#home-module .tab-title-selected{background-color:#ffffff;width:276px;height:55px;float: left;border-top:1px solid #e3e3e3;border-left:1px solid #e3e3e3;border-right:1px solid #e3e3e3;border-bottom:1px solid #ffffff;text-align: center;}
#home-module #tab-content{width:1098px;height:358px;padding-top:40px;border-bottom:1px solid #e3e3e3;border-left:1px solid #e3e3e3;border-right:1px solid #e3e3e3;}
#home-module .tab-content1{background: url("../../img/default/tab-content1.jpg") no-repeat;width:900px;height:318px;margin:auto;}
#home-module .tab-content2{background: url("../../img/default/tab-content2.jpg") no-repeat;width:900px;height:296px;margin:auto;}
#home-module .tab-content3{background: url("../../img/default/tab-content3.jpg") no-repeat;width:900px;height:296px;margin:auto;}
#home-module .tab-content4{background: url("../../img/default/tab-content4.jpg") no-repeat;width:900px;height:296px;margin:auto;}
#home-module .tab-content .tab-content-title{color: #357fd6;font-size: 45px;padding-left: 600px;font-weight: 100;padding-top: 55px;}
#home-module .tab-content .tab-content-intro{color: #357fd6;font-size: 20px;padding-left: 565px;font-weight: 100;padding-top: 5px;}
#home-module .tab-content .tab-content-detail1{padding-left: 205px;padding-top: 95px;}
#home-module .tab-content .tab-content-detail2{padding-left: 200px;padding-top: 95px;}
#home-module .tab-content .tab-content-detail3{padding-left: 150px;padding-top: 95px;}
#home-module .tab-content .tab-content-details{color:#5b5b5b;font-size: 18px;}
#home-module .tab-content .tab-content-detailb{color: #5b5b5b;font-size: 30px;}
#home-module #tab-content .hide{display:none;} /*默认让第一块内容显示，其余隐藏*/
#home-module #tab-content ul{padding:0px;overflow:hidden;}
#home-module .arrow-left{background: url("../../img/default/arrow-left.png") no-repeat;width: 50px;height:50px;position: relative;margin-top:-230px;margin-left: 25px;cursor: pointer;}
#home-module .arrow-right{background: url("../../img/default/arrow-right.png") no-repeat;width: 50px;height: 50px;position: relative;margin-top: -230px;margin-left: 847px;margin-left: 1025px;cursor: pointer;}

/*资讯在线块样式*/
#home-module .information-online{width:100%;height:485px;background-color: #f2f2f2;}
#home-module .information-title-img{background: url("../../img/default/information-online1.png") no-repeat;width:200px;height:60px;margin:40px auto 20px auto;}
#home-module .information-online-content{width:100%;height:250px;margin:auto;}
#home-module .announcement-policy{background-color: #ffffff;width:540px;height:320px;}
#home-module .announcement-policy .title{padding:10px;}
#home-module .announcement-policy span{margin:10px;font-size: 18px;}
#home-module .announcement-policy-content1{padding-left: 40px;max-height:120px;padding-right: 40px;}
#home-module .announcement-policy-content1 li{line-height: 30px;height:30px;}
#home-module .announcement-policy-content1 li .content{font-size: 14px;display: inline-block; float: left;color: #808080;}
#home-module .announcement-policy-content1 li .date{font-size: 13px;color:#d1d1d1;line-height: 30px;display: inline-block;float: right }
#home-module .announcement-policy-content2{padding-left: 40px;max-height:120px;padding-right: 40px;}
#home-module .announcement-policy-content2 li{line-height: 30px;height:30px;}
#home-module .announcement-policy-content2 li .content{font-size: 14px;display: inline-block; float: left;color: #808080;}
#home-module .announcement-policy-content2 li .date{font-size: 13px;color:#d1d1d1;line-height: 30px;display: inline-block;float: right }

#home-module .consultation-strategy{background-color: #ffffff;width:540px;height:320px;margin-left: 560px;}
#home-module .consultation-strategy .title{padding:10px;}
#home-module .consultation-strategy span{margin:10px;font-size: 18px;}
#home-module .consultation-strategy-content1{padding-left: 40px;max-height:90px;padding-right: 40px;}
#home-module .consultation-strategy-content1 li{line-height: 30px;height:30px;}
#home-module .consultation-strategy-content1 li .content{font-size: 14px;display: inline-block; float: left;color: #808080;}
#home-module .consultation-strategy-content1 li .date{font-size: 13px;color:#d1d1d1;line-height: 30px;display: inline-block;float: right }
#home-module .consultation-strategy-content2{padding-left: 40px;max-height:90px;padding-right: 40px;}
#home-module .consultation-strategy-content2 li{line-height: 30px;height:30px;}
#home-module .consultation-strategy-content2 li .content{font-size: 14px;display: inline-block; float: left;color: #808080;}
#home-module .consultation-strategy-content2 li .date{font-size: 13px;color:#d1d1d1;line-height: 30px;display: inline-block;float: right }
#home-module .consultation-strategy-content3{padding-left: 40px;max-height:60px;padding-right: 40px;}
#home-module .consultation-strategy-content3 li{line-height: 30px;height:30px;}
#home-module .consultation-strategy-content3 li .content{font-size: 14px;display: inline-block; float: left;color: #808080;}
#home-module .consultation-strategy-content3 li .date{font-size: 13px;color:#d1d1d1;line-height: 30px;display: inline-block;float: right }
